/*start general properties for website*/
@font-face {
    font-family: "semiBold";
    src: url(../fonts/tajawal/Tajawal-Medium.ttf);
}

@font-face {
    font-family: "regular";
    src: url(../fonts/tajawal/Tajawal-Regular.ttf);
}

@font-face {
    font-family: "bold";
    src: url(../fonts/tajawal/Tajawal-Bold.ttf);
}

* {
    margin: 0px;
    box-sizing: border-box;
}

.btn:focus,
button:focus,
input:focus,
.form-control:focus {
    outline-width: 0px !important;
    outline-color: transparent !important;
    -webkit-box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
}

a {
    text-decoration: none !important;
}
.heading{
    width: 100%;
    text-align: center;
    margin-bottom: 50px;
}
.heading .title{
    width: fit-content;
    margin: auto;
    padding: 10px 0px;
    margin-bottom: 20px;
    position: relative;
    color: #5D5D5D;
    font-family: 'bold';
    font-size: 42px;
}
.heading .title::after{
    content: '';
    position: absolute;
    width: 50%;
    height: 2px;
    bottom: 0;
    left: 25%;
    background-color: #4085F6;
}
.heading .desc{
    color: #737373;
    font-size: 20px;
    font-family: 'regular';
    line-height: 2rem;
}
/*end gloabal*/